<div class="container">
    <div class="d-grid gap-2 col-8 mx-auto">
      <h2 class="display-6 my-5">Stupid Coaching</h2>
      <form action="answer" method="get">
        <label for="question" class="form-label">Enter your question</label>
        <input type="text" name="question" class="form-control my-3">
        <input type="submit" value="Ask!" class="form-control my-3 btn btn-outline-dark">
      </form>
    </div>
</div>
